$logo-color: #2b3269;
body {
  font-family: 'Raleway', sans-serif;
}

.mainBox {
  font-family: 'Raleway', sans-serif;


} // end total block


//   .image-gallery-bullets {
//     bottom: -40px;
//   }
//
//   .image-gallery-bullets .image-gallery-bullet {
//     border-color: black;
//   }
//
//   .image-gallery-bullets .image-gallery-bullet.active {
//     background: red;
//   }
// }
